<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175861216840-3o88p6tapgkrjvt9tro68p35pv3to9q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175861216840-3o88p6tapgkrjvt9tro68p35pv3to9q1</string>
	<key>API_KEY</key>
	<string>AIzaSyC4grJjqSpuNxRrAfVsC1h2tYBUro07dsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>175861216840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suttipong.LivenessCheck-MLKIT</string>
	<key>PROJECT_ID</key>
	<string>livenesstest-8e8be</string>
	<key>STORAGE_BUCKET</key>
	<string>livenesstest-8e8be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175861216840:ios:18a83e5268b20eacd90a7d</string>
</dict>
</plist>